<div id="schedule_meeting" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Schedule a meeting</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p class="meeting-sc">Daily design meeting- meeting room no 1</p>
                <form>
                    <div class="comntainer">
                        <div class="row schmm">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="date" class="form-control" value="10/05/2010"
                                           placeholder="Date">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="date" class="form-control" value="10/05/2010"
                                           placeholder="Date">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="time" class="form-control" placeholder="Time">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="time" class="form-control" placeholder="Time">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <input type="checkbox" name="vehicle3" value="Boat" checked>
                                <label > All</label>
                            </div>
                            <div class="col-md-6 meet-sch">
                                <input type="checkbox" name="vehicle3" value="Boat">
                                <label > Repeat on weekly <b> Friday </b> <a href="#">Edit</a></label>
                            </div>
                        </div>
                        <h5>Events</h5>
                        <div class="row">

                            <div class="col-md-4">
                                <input type="checkbox" name="vehicle3" value="Boat" checked>
                                <label > Mute Video</label>
                            </div>
                            <div class="col-md-4">
                                <input type="checkbox" name="vehicle3" value="Boat" checked>
                                <label > Mute Audio</label>
                            </div>
                            <div class="col-md-4">
                                <input type="checkbox" name="vehicle3" value="Boat" checked>
                                <label > Record Meeting</label>
                            </div>

                        </div>
                        <textarea cols="42" rows="2" placeholder="Description" class="meeting-r"></textarea>
                        <div class="row schmeet">
                            <h5 class="">Events Tag</h5>
                            <div class="col-md-3">
                                <div class="demo">
                                    <input type="checkbox" name="vehicle3" value="Boat" checked>
                                    <label > Important</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <p class="meetp">Normal</p>
                            </div>
                            <div class="col-md-2">
                                <p class="meetp2">General</p>
                            </div>

                        </div>
                        <div class="row schmeet">
                            <h5 class="">Notification</h5>
                            <div class="col-md-2">
                                <select>
                                    <option>Email</option>
                                    <option>SMS</option>
                                </select>
                            </div>
                            <div class="col-md-3 meet-sch">
                                <select>
                                    <option>10 Minutes</option>
                                    <option>20 Minutes</option>
                                </select>
                            </div>
                        </div>
                        <div class="row schmeet2">
                            <h5 class="">Add Guest</h5>
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control add small"
                                           placeholder="Enter guest Email or Name" aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary meetb" type="button">
                                            Add
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <h5 class="">Guest can</h5>
                        <div class="row schmeet">

                            <div class="col-md-6">
                                <div class="">
                                    <input type="checkbox" name="vehicle3" value="Boat" checked>
                                    <label > Everyone as admin</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <input type="checkbox" name="vehicle3" value="Boat" checked="">
                                    <label > Modify Meeting</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <input type="checkbox" name="vehicle3" value="Boat">
                                    <label > Invite others</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <input type="checkbox" name="vehicle3" value="Boat">
                                    <label > See guest list</label>
                                </div>
                            </div>

                        </div>
                        <div class="image-stack stak">
                            <div class="image-stack__item image-stack__item--top">
                                <img src="img/prof3.png" alt="">
                            </div>
                            <div class="image-stack__item image-stack__item--middle">
                                <img src="img/prof1.png" alt="">
                            </div>
                            <div class="image-stack__item image-stack__item--bottom">
                                <img src="img/prof2.png" alt="">
                            </div>
                            <div class="image-stack__item image-stack__item--bottom counter">+3 more</div>
                        </div>
                        <div class="row schmeet">
                            <div class="col-md-3">

                            </div>

                            <div class="col-md-3">

                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-primary button-re">Reset</button>
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-primary meetb">Schedule</button>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>