<div class="container-fluid">

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-9 col-lg-9">
            <div class="card shadow mb-4">

                <!-- Card Body -->
                <div class="card-body bg-primary rounded">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="m-0 font-weight-bold text-white">Welcome back John!</h5>
                                <h6 class="mt-2 mb-0 font-weight-light text-white">Book meetings with your
                                    friends,colleagues and clients.</h6>
                                <h6 class="mt-2 font-weight-light text-white ">Your calendar stays full and
                                    you stay profuctive</h6>

                                <a href="javascript:void(0);" data-toggle="modal" data-target="#schedule-meeting-modal" class="btn btn-Secondary bg-white text-black mt-4"><b
                                    class="meet">SCHEDULE A MEETING</b></a>
                            </div>
                            <div class="col-md-6">
                                <img src="/img/OBJECTS.png" class="float-right" alt="img">
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h4 class="m-0 font-weight-bold tcolor">Most Recent calls</h4>

                </div>
                <div class="card-body">


                    <table class="table table-bordered dash-record" id="dataTable">
                        <thead class="bg-light">
                        <tr>
                            <th scope="col">Metting Code</th>
                            <th scope="col">Metting Name</th>
                            <th scope="col">Start Time</th>
                            <th scope="col">Participants</th>
                            <th scope="col">Recorded</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">MC04232322</th>
                            <td><b>Management Meeting</b></td>
                            <td><b>31/08/2020</b> 02.00 PM</td>
                            <td>
                                <div class="image-stack">
                                    <div class="image-stack__item image-stack__item--top">
                                        <img src="img/prof1.png" alt="">
                                    </div>
                                    <div class="image-stack__item image-stack__item--bottom">
                                        <img src="img/prof2.png" alt="">
                                    </div>
                                    <div class="image-stack__item image-stack__item--bottom counter">+5
                                    </div>
                                </div>
                            </td>
                            <td><i class="fas fa-microphone"></i> 45.45</td>
                        </tr>
                        <tr>
                            <th scope="row">MC04232322</th>
                            <td><b>Developer Meeting</b></td>
                            <td><b>31/08/2020</b> 02.00 PM</td>
                            <td>
                                <div class="image-stack">
                                    <div class="image-stack__item image-stack__item--top">
                                        <img src="img/prof1.png" alt="">
                                    </div>
                                    <div class="image-stack__item image-stack__item--bottom">
                                        <img src="img/prof2.png" alt="">
                                    </div>
                                    <div class="image-stack__item image-stack__item--bottom counter">+5
                                    </div>
                                </div>
                            </td>
                            <td><i class="fas fa-microphone"></i> 45.45</td>
                        </tr>
                        <tr>
                            <th scope="row">MC04232322</th>
                            <td><b>Management Meeting</b></td>
                            <td><b>31/08/2020</b> 02.00 PM</td>
                            <td>
                                <div class="image-stack">
                                    <div class="image-stack__item image-stack__item--top">
                                        <img src="img/prof1.png" alt="">
                                    </div>
                                    <div class="image-stack__item image-stack__item--bottom">
                                        <img src="img/prof2.png" alt="">
                                    </div>
                                    <div class="image-stack__item image-stack__item--bottom counter">+5
                                    </div>
                                </div>
                            </td>
                            <td><i class="fas fa-microphone"></i> 45.45</td>
                        </tr>
                        <tr>
                            <th scope="row">MC04232322</th>
                            <td><b>Management Meeting</b></td>
                            <td><b>31/08/2020</b> 02.00 PM</td>
                            <td>
                                <div class="image-stack">
                                    <div class="image-stack__item image-stack__item--top">
                                        <img src="img/prof1.png" alt="">
                                    </div>
                                    <div class="image-stack__item image-stack__item--bottom">
                                        <img src="img/prof2.png" alt="">
                                    </div>
                                    <div class="image-stack__item image-stack__item--bottom counter">+5
                                    </div>
                                </div>
                            </td>
                            <td><i class="fas fa-microphone"></i> 45.45</td>
                        </tr>
                        <tr>
                            <th scope="row">MC04232322</th>
                            <td><b>Management Meeting</b></td>
                            <td><b>31/08/2020</b> 02.00 PM</td>
                            <td>
                                <div class="image-stack">
                                    <div class="image-stack__item image-stack__item--top">
                                        <img src="img/prof1.png" alt="">
                                    </div>
                                    <div class="image-stack__item image-stack__item--bottom">
                                        <img src="img/prof2.png" alt="">
                                    </div>
                                    <div class="image-stack__item image-stack__item--bottom counter">+5
                                    </div>
                                </div>
                            </td>
                            <td><i class="fas fa-microphone"></i> 45.45</td>
                        </tr>
                        <tr>
                            <th scope="row">MC04232322</th>
                            <td><b>Management Meeting</b></td>
                            <td><b>31/08/2020</b> 02.00 PM</td>
                            <td>
                                <div class="image-stack">
                                    <div class="image-stack__item image-stack__item--top">
                                        <img src="img/prof1.png" alt="">
                                    </div>
                                    <div class="image-stack__item image-stack__item--bottom">
                                        <img src="img/prof2.png" alt="">
                                    </div>
                                    <div class="image-stack__item image-stack__item--bottom counter">+5
                                    </div>
                                </div>
                            </td>
                            <td><i class="fas fa-microphone"></i> 45.45</td>
                        </tr>
                        <tr>
                            <th scope="row">MC04232322</th>
                            <td><b>Management Meeting</b></td>
                            <td><b>31/08/2020</b> 02.00 PM</td>
                            <td>
                                <div class="image-stack">
                                    <div class="image-stack__item image-stack__item--top">
                                        <img src="img/prof1.png" alt="">
                                    </div>
                                    <div class="image-stack__item image-stack__item--bottom">
                                        <img src="img/prof2.png" alt="">
                                    </div>
                                    <div class="image-stack__item image-stack__item--bottom counter">+5
                                    </div>
                                </div>
                            </td>
                            <td><i class="fas fa-microphone"></i> 45.45</td>
                        </tr>
                        <tr>
                            <th scope="row">MC04232322</th>
                            <td><b>Management Meeting</b></td>
                            <td><b>31/08/2020</b> 02.00 PM</td>
                            <td>
                                <div class="image-stack">
                                    <div class="image-stack__item image-stack__item--top">
                                        <img src="img/prof1.png" alt="">
                                    </div>
                                    <div class="image-stack__item image-stack__item--bottom">
                                        <img src="img/prof2.png" alt="">
                                    </div>
                                    <div class="image-stack__item image-stack__item--bottom counter">+5
                                    </div>
                                </div>
                            </td>
                            <td><i class="fas fa-microphone"></i> 45.45</td>
                        </tr>

                        <tr>
                            <th scope="row">MC04232322</th>
                            <td><b>Management Meeting</b></td>
                            <td><b>31/08/2020</b> 02.00 PM</td>
                            <td>
                                <div class="image-stack">
                                    <div class="image-stack__item image-stack__item--top">
                                        <img src="img/prof1.png" alt="">
                                    </div>
                                    <div class="image-stack__item image-stack__item--bottom">
                                        <img src="img/prof2.png" alt="">
                                    </div>
                                    <div class="image-stack__item image-stack__item--bottom counter">+5
                                    </div>
                                </div>
                            </td>
                            <td><i class="fas fa-microphone"></i> 45.45</td>
                        </tr>

                        <tr>
                            <th scope="row">MC04232322</th>
                            <td><b>Management Meeting</b></td>
                            <td><b>31/08/2020</b> 02.00 PM</td>
                            <td>
                                <div class="image-stack">
                                    <div class="image-stack__item image-stack__item--top">
                                        <img src="img/prof1.png" alt="">
                                    </div>
                                    <div class="image-stack__item image-stack__item--bottom">
                                        <img src="img/prof2.png" alt="">
                                    </div>
                                    <div class="image-stack__item image-stack__item--bottom counter">+5
                                    </div>
                                </div>
                            </td>
                            <td><i class="fas fa-microphone"></i> 45.45</td>
                        </tr>

                        <tr>
                            <th scope="row">MC04232322</th>
                            <td><b>Management Meeting</b></td>
                            <td><b>31/08/2020</b> 02.00 PM</td>
                            <td>
                                <div class="image-stack">
                                    <div class="image-stack__item image-stack__item--top">
                                        <img src="img/prof1.png" alt="">
                                    </div>
                                    <div class="image-stack__item image-stack__item--bottom">
                                        <img src="img/prof2.png" alt="">
                                    </div>
                                    <div class="image-stack__item image-stack__item--bottom counter">+5
                                    </div>
                                </div>
                            </td>
                            <td><i class="fas fa-microphone"></i> 45.45</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Color System -->
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <div class="card bg-white text-black shadow">
                        <div class="card-body">
                            <div class="container-fluid">
                                <div class="row">

                                    <div class="col-md-4">
                                        <div class="numberCircle cnew"><b>192</b></div>
                                    </div>
                                    <div class="col-md-8">
                                        <h5 class="mb-0"><b>Meetings</b></h5>
                                        <small>This Year</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mb-4">
                    <div class="card bg-white text-black shadow">
                        <div class="card-body">
                            <div class="container-fluid">
                                <div class="row">

                                    <div class="col-md-4">
                                        <div class="numberCircle dnew"><b>156</b></div>
                                    </div>
                                    <div class="col-md-8">
                                        <h5 class="mb-0"><b>Meetings</b></h5>
                                        <small>This Month</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mb-4">
                    <div class="card bg-white text-black shadow">
                        <div class="card-body">
                            <div class="container-fluid">
                                <div class="row">

                                    <div class="col-md-4">
                                        <div class="numberCircle enew"><b>208</b></div>
                                    </div>
                                    <div class="col-md-8">
                                        <h5 class="mb-0"><b>Meetings</b></h5>
                                        <small>This Week</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Pie Chart -->
        <div class="col-xl-3 col-lg-3 upcoming-events">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h4 class="m-0 font-weight-bold e33">Upcoming Meetings</h4>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <h5 class="text-black font-weight-bold"><b class="b66">Company Policy Discussion</b>
                    </h5>
                    <h6>28th May 2020, Saturday</h6>
                    <h6>03:30pm to 04:00pm</h6>
                    <div class="image-stack">
                        <div class="image-stack__item image-stack__item--top">
                            <img src="img/prof3.png" alt="">
                        </div>
                        <div class="image-stack__item image-stack__item--middle">
                            <img src="img/prof1.png" alt="">
                        </div>
                        <div class="image-stack__item image-stack__item--bottom">
                            <img src="img/prof2.png" alt="">
                        </div>
                        <div class="image-stack__item image-stack__item--bottom counter">+3 more</div>
                    </div>
                    <!-- <h5 class="text-black font-weight-bold">Organised By</h5> -->
                    <div class="container-fluid p-0">
                        <div class="row">
                            <div class="col-md-12 pt-2 pb-2">
                                <h5 class="new-color">Organized by</h5>

                            </div>

                            <div class="col-md-2">
                                <img src="img/bot.png" alt="" class="float-left">
                            </div>
                            <div class="col-md-10">
                                <h6 class="mb-0"><b>John Wrick</b></h6>
                                <small class="new-color">john@gmail.com</small>
                            </div>
                            <div class="input-group inde">
                                <select class="home-p">
                                    <option>Cancel</option>
                                    <option>Send Regret</option>
                                    <option>Reschedule</option>
                                </select>
                                <div class="input-group-append">
                                    <button class="btn btn-primary meetb inb" type="button">
                                        <i class="fas fa-arrow-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <hr class="sidebar-divider">

                    <h5 class="text-black font-weight-bold"><b>Developer Meeting</b> <sup
                        class="text-danger">Important</sup></h5>
                    <h6>28th May 2020, Saturday</h6>
                    <h6>03:30pm to 04:00pm</h6>
                    <div class="image-stack">
                        <div class="image-stack__item image-stack__item--top">
                            <img src="img/prof3.png" alt="">
                        </div>
                        <div class="image-stack__item image-stack__item--middle">
                            <img src="img/prof1.png" alt="">
                        </div>
                        <div class="image-stack__item image-stack__item--bottom">
                            <img src="img/prof2.png" alt="">
                        </div>
                        <div class="image-stack__item image-stack__item--bottom counter">+3 more</div>
                    </div>

                    <div class="container-fluid p-0">
                        <div class="row">
                            <div class="col-md-12 pt-2 pb-2">
                                <h5 class="new-color">Organized by</h5>

                            </div>
                            <div class="col-md-2">
                                <img src="img/bot.png" alt="" class="float-left">
                            </div>

                            <div class="col-md-10">
                                <h6 class="mb-0"><b>John Wrick</b></h6>
                                <small class="new-color">john@gmail.com</small>
                            </div>
                            <div class="input-group inde">
                                <select class="home-p">
                                    <option>Cancel</option>
                                    <option>Send Regret</option>
                                    <option>Reschedule</option>
                                </select>
                                <div class="input-group-append">
                                    <button class="btn btn-primary meetb inb" type="button">
                                        <i class="fas fa-arrow-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="sidebar-divider">

                    <h5 class="text-black font-weight-bold"><b>Developer Meeting</b> <sup
                        class="text-danger">Important</sup></h5>
                    <h6>28th May 2020, Saturday</h6>
                    <h6>03:30pm to 04:00pm</h6>
                    <div class="image-stack">
                        <div class="image-stack__item image-stack__item--top">
                            <img src="img/prof3.png" alt="">
                        </div>
                        <div class="image-stack__item image-stack__item--middle">
                            <img src="img/prof1.png" alt="">
                        </div>
                        <div class="image-stack__item image-stack__item--bottom">
                            <img src="img/prof2.png" alt="">
                        </div>
                        <div class="image-stack__item image-stack__item--bottom counter">+3 more</div>
                    </div>


                    <div class="container-fluid p-0">
                        <div class="row">
                            <div class="col-md-12 pt-2 pb-2">
                                <h5 class="new-color">Organized by</h5>

                            </div>
                            <div class="col-md-2">
                                <img src="img/bot.png" alt="" class="float-left">
                            </div>

                            <div class="col-md-10">
                                <h6 class="mb-0"><b>John Wrick</b></h6>
                                <small class="new-color">john@gmail.com</small>
                            </div>
                            <div class="input-group inde">
                                <select class="home-p">
                                    <option>Cancel</option>
                                    <option>Send Regret</option>
                                    <option>Reschedule</option>
                                </select>
                                <div class="input-group-append">
                                    <button class="btn btn-primary meetb inb" type="button">
                                        <i class="fas fa-arrow-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <hr class="sidebar-divider">

                    <h5 class="text-black font-weight-bold"><b>Testers Meeting</b> <sup class="text-danger">Important</sup>
                    </h5>
                    <h6>28th May 2020, Saturday</h6>
                    <h6>03:30pm to 04:00pm</h6>
                    <div class="image-stack">
                        <div class="image-stack__item image-stack__item--top">
                            <img src="img/prof3.png" alt="">
                        </div>
                        <div class="image-stack__item image-stack__item--middle">
                            <img src="img/prof1.png" alt="">
                        </div>
                        <div class="image-stack__item image-stack__item--bottom">
                            <img src="img/prof2.png" alt="">
                        </div>
                        <div class="image-stack__item image-stack__item--bottom counter">+3 more</div>
                    </div>


                    <div class="container-fluid p-0">
                        <div class="row">
                            <div class="col-md-12 pt-2 pb-2">
                                <h5 class="new-color">Organized by</h5>

                            </div>
                            <div class="col-md-2">
                                <img src="img/bot.png" alt="" class="float-left">
                            </div>

                            <div class="col-md-10">
                                <h6 class="mb-0"><b>John Wrick</b></h6>
                                <small class="new-color">john@gmail.com</small>
                            </div>
                            <div class="input-group inde">
                                <select class="home-p">
                                    <option>Cancel</option>
                                    <option>Send Regret</option>
                                    <option>Reschedule</option>
                                </select>
                                <div class="input-group-append">
                                    <button class="btn btn-primary meetb inb" type="button">
                                        <i class="fas fa-arrow-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <hr class="sidebar-divider">

                    <h5 class="text-black font-weight-bold"><b>Designer Meeting</b> <sup
                        class="text-danger">Important</sup></h5>
                    <h6>28th May 2020, Saturday</h6>
                    <h6>03:30pm to 04:00pm</h6>
                    <div class="image-stack">
                        <div class="image-stack__item image-stack__item--top">
                            <img src="img/prof3.png" alt="">
                        </div>
                        <div class="image-stack__item image-stack__item--middle">
                            <img src="img/prof1.png" alt="">
                        </div>
                        <div class="image-stack__item image-stack__item--bottom">
                            <img src="img/prof2.png" alt="">
                        </div>
                        <div class="image-stack__item image-stack__item--bottom counter">+3 more</div>
                    </div>


                    <div class="container-fluid p-0">
                        <div class="row">
                            <div class="col-md-12 pt-2 pb-2">
                                <h5 class="new-color">Organized by</h5>

                            </div>
                            <div class="col-md-2">
                                <img src="img/bot.png" alt="" class="float-left">
                            </div>

                            <div class="col-md-10">
                                <h6 class="mb-0"><b>John Wrick</b></h6>
                                <small class="new-color">john@gmail.com</small>
                            </div>
                            <div class="input-group inde">
                                <select class="home-p">
                                    <option>Cancel</option>
                                    <option>Send Regret</option>
                                    <option>Reschedule</option>
                                </select>
                                <div class="input-group-append">
                                    <button class="btn btn-primary meetb inb" type="button">
                                        <i class="fas fa-arrow-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<%= render "shared/modals/schedule_meeting" %>